.personal,
.education,
.work {
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
}

.cvPreview {
  border: 5px solid red;
  width: 50%;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}
